<section>
  <h1>{{titleWork}}</h1>
  <ul class="mt-4">
    <li *ngFor="let experience of listExperience" class="mb-8">
      <article>
        <header class="flex justify-between items-center">
          <div>
            <h3 class="font-medium text-base">{{experience.name}}</h3>
            <h4 class="font-normal text-base">{{experience.position}}</h4>
          </div>
          <time>
            {{takeStartDate(experience.startDate)}} - {{takeEndDate(experience.endDate)}}
          </time>
        </header>
        <footer>
          <p>{{experience.summary}}</p>
        </footer>
      </article>
    </li>
  </ul>
</section>
